doctype html
html
  head
    title hosanna mission website 
    block scripts 
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet">
    block style
    style 
        include ../static/base.css
  
</head>
   
<body>
    <section class="background">
        <nav>
            <span>
                <img src="/static/logo.png" class="image">


                <ol>
                    <li><a href="/">Home</a></li>
                    <li><a href="#aboutus">About us</a></li>
                    <li><a href="/faculties">Faculties</a></li>
                    <li><a href="/sports">Sports</a></li>
                    <li><a href="/contact">Register</a></li>
                </ol>
            </span>
        </nav>
        block content
        <footer id="aboutus">
        <section class="footer">
            <h4>About us</h4>
            <p>If you want more information about our schhol you can contact to our website or you can message in the baov links of instagram,facebook,youtube,twitter and linkedin,in forwatching our website<br> and reading us more about it.Ypu if you want more infomation and importanat work than contact us 91<sup>+</sup>9106566253.</p>

            
            <div class="icons">
                <a href="#">
                    <i class="fa-brands fa-2x fa-facebook-f" style ="color: #3b5998;"></i>
                </a>
                <a href="#">
                    <i class="fa-brands fa-2x fa-instagram"style= "color:#9a0606;"></i>
                </a>
                <a href="#">
                   <i class="fa-brands fa-2x fa-youtube" style="color: #fc0f03;"></i>
                </a>
                <a href="#">
                    <i class="fa-brands fa-2x fa-twitter"style="color: #55acee;"></i>
                </a>
                <a href="#">
                    <i class="fa-brands fa-2x fa-linkedin" style=" color: #83bddc;"></i>
                </a>
                
              
            </div>
        </section>
    </footer>

</body>
</html>
