extends base.pug

 

block style 


    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik+Wet+Paint&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200&family=Rubik+Wet+Paint&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fontawesome.com/icons/facebook-f?s=&f=brands">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap" rel="stylesheet">
     <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet">
    
    style
        include ../static/home.css
block content 
    <section class="background">
        <section class="wellcometext">
            <div class="greeting">

                <h1>Wellcome to D.Y Patel School</h1>
                <p>This is the nunber one school in the whole city.This is not famous for his campus
                <p> but it is because of it discipline</p>
                </p>

            </div>

        </section>
    </section>
    <section class="aboutus">
        <iframe src="/static/newnavbar.html" name="one" class="iframeone"></iframe>
        <iframe src="/static/vision.html" name="two" class="iframetwo"></iframe>

    </section>
    <hr>
    <section>
        <div class="aboutuscontainer">
            <div class="principalimage ">
                <img src="/static/principe.jpg" alt="" class="priclass">
            </div>
            <div class="aboutustext">
                <h1> Dr.Rajesh Pavar(principle)</h1>

                <p>I am the principle of the school.this is the very wonderful chool in the ahmedabad district .This is
                    just famous for his education but also for th discipline .Because we personnaly tink that educatuin
                    without discipline is nothing.we also teach student about sports and the student who are interested
                    in it they taken to play in the other students of the other school we have lots of acheievent Lorem
                    ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus id magni et libero. Quibusdam magnam
                    tempora totam minus ducimus odio quidem nulla ipsa iusto officia. Obcaecati eius aspernatur mollitia
                    atLorem ipsum dolor sit amet consectetur adipisicing elit. Ut voluptate impedit odio quod repellat
                    reprehenderit sunt, veritatis quaerat aliquid. Aperiam aliquam optio maxime harum eius. Voluptatibus
                    omnis eius aliquam quasi! lorem50 </p>
            </div>
        </div>
    </section>
    <hr>