extends base.pug

block scripts 
    script(src="index.js")
    
block style
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik+Wet+Paint&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200&family=Rubik+Wet+Paint&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fontawesome.com/icons/facebook-f?s=&f=brands">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap" rel="stylesheet">
     
    style 
        include ../static/sports.css
        include ../static/base.css

block content 

    <h1 class="header">Sports</h1>
    <div class="container">
        <P>Trophy win by the childerns</P>
        <div class="trophy">
            <div class="item">
                <img src="/static/trophy1.jpg" alt="">
                <p>♥Suresh Sharma♥</p>
            </div>
            <div class="item">
                <img src="/static/trophy2.webp" alt="">
                <p>♥Kapil Makwana♥</p>
            </div>
            <div class="item">
                <img src="/static/trophy3.jpeg" alt="">
                <p>♥Ajith Patil♥</p>
            </div>

        </div>
    </div>
    <div class="sport">
        <h1>Sports In The School</h1>
        <p>★Basketball ground </p>
        <p>★Cricket ground in the campus </p>
        <p>★Volleyball   ground </p>
        <p>★Tabel Tanis office</p>
        <p>★Carrom ground </p>
    </div>



   



